

@font-face {
    font-family: "Tajawal";
    src: local("Tajawal"),
     url("./Fonts/Tajawal-ExtraLight.ttf") format("truetype");
}

.title {
    margin-left: 3%;
    margin-top: 4%;
    font-size: 70px;
}

.subtitle {
    display: inline;
}

h1 {
    color: white;
    font-family: "Tajawal";
    text-align: left;
    margin-bottom: 5px;
}

h2 {
    color: white;
    text-align: left;
    font-family: sans-serif;
    padding-left: 18px;
    font-size: 20.5px;
    margin-bottom: -10px;
}

h3 {
    color: white;
    text-align: left;
    font-size: 20.5px;
    padding-left: 18px;
    font-family: sans-serif;
}

h4 {
    color: white;
    text-align: left;
    font-family: sans-serif;
    padding-left: 18px;
    margin-right: 60%;
    font-size: 16px;
    margin-bottom: -10px;
}

.columns {
    display: inline-block;
}

body {
    background-color: black;
}

td {
    color: white;
    text-align: left;
}

#dataChoose {
    margin-top: 50px;
}


li {
    color: white;
    font-family: "Tajawal";
}

ul {
    list-style-type: none;
}

p {
    color: white;
}

li:hover {
    color: gray;
}

.content {
    margin-left: 11%;
}
